body {
	font-family: 'Montserrat', sans-serif;
    
    margin: 0;
    background-color: rgb(199, 245, 247);
    line-height: 1cm;

}
 /*TITLE */
.title-bar{
    background-color:#5bf7d5;
    display: flex;
    height: 100px;
}
.title-bar .logo{
    height: 100px;
    width: 200px;
    background-color: black;
}

.title-bar-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    padding: 12px;
    padding-bottom: 0%; 
    
}

.title-bar-icon a{
    text-decoration: none;
    color: black;
}

.title-button-icon{
    display: flex;
    justify-content: end;
    align-items: center;
}
.title-button-icon .button{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding: 10px;
    font-weight: bold;
    border-radius: 25px;
}
.button{
    background-color: rgb(240, 214, 71);
    position: absolute;
    right: 11px;
}

.title-button-icon .Donate{
    color: white;
    text-decoration: none;
}
.title-bar-icon:hover{
    transform: scale(1.2);
    cursor: pointer;
    font-weight: bolder;
}

/* Utilty Classes*/

.img-responsive {
  max-width: 100%;
}

.hero_image {
	background: url(images/heroimage8.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100vh;
	position: relative;
}

.hero_wrapper {
	color:white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.hero_wrapper h1 {
	font-size: 2.4rem;
	text-align: center;
}

.hero_wrapper h2 {
	font-size: 2.4rem;
	text-align: center;
}




/*  Product Section */

.product {
	width: 90%;
	margin-top: .3rem;
	margin-left: auto;
    
	margin-right: auto;
}

.product__list__item {
	float: left;
	width: 32%;
   
	margin-left: .5rem;
}


.product__list__item:first-of-type {
	margin-left: 5;
}
.product__list__item1 {
	float: left;
	width: 32%;
   
	margin-left: .5rem;
}


.product__list__item1:first-of-type {
	margin-left: 5;
}

.product__list__item2 {
	float: left;
	width: 32%;
   
	margin-left: .5rem;
}


.product__list__item2:first-of-type {
	margin-left: 5;
}
.product img {
    height:350px;
    width: 350px;
    margin: 30px;
    border-radius: 30px;
}
.product img:hover{
    transform: scale(1.1);
    cursor: pointer;
 }

@media screen and (max-width: 700px) {
	.product__list__item { 
		width: 100%;
		float: none;
	}
}
/* gallery */
.gallery{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
}

.gallery img{
    height:350px;
    width: 350px;
    margin: 30px;
    border-radius: 30px;
}

.gallery img:hover{
   transform: scale(1.1);
   cursor: pointer;
}

.Gallery-heading{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
     background-color:rgb(15, 15, 17);
    height: 160px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(211, 204, 218);
}



/* contact us */
.contact-us{
    background-color:rgb(15, 15, 17);
    height: 180px;
}

.contact-us h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    padding: 35px;
    padding-left: 45px;
    padding-bottom: 0px;
    color: whitesmoke;
}

.contact-icons{
    display: flex;
    justify-content: center;
    padding: 30px;
    padding-top: 0px;
    color:whitesmoke;
}
.phone{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

.mail{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

.whatsapp{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

.material-icons{
    padding-right: 8px;
}
.icons{
    font-size: larger;
}

.icons:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.Copyright-footer{
    display: flex;
    justify-content: center;
    background-color: rgb(15, 15, 17);
}

.Copyright{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(92, 84, 240);
}
